In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import pickle
from matplotlib import pyplot as plt
import seaborn as sns
import plotly
from datetime import datetime, timedelta
from collections import OrderedDict, Counter
import plotly.offline as pyoff
import plotly.graph_objs as go

from sklearn.model_selection import train_test_split

#initiate visualization library for jupyter notebook 
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
pyoff.init_notebook_mode(connected=True)

#Settings
%matplotlib inline
pd.options.display.max_columns = None
pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', 500)
from IPython.core.interactiveshell import InteractiveShell  
InteractiveShell.ast_node_interactivity = "all"
%config InlineBackend.figure_format = 'svg'
seed = 123

In [9]:
# with open('../data/processed/master_df.pkl', 'rb') as read_file: 
#      df = pickle.load(read_file)
# with open('../data/processed/bed_bath_table_recommends_spark_als_high_value_cust.csv', 'rb') as read_file: 
#      bed_bath_table_recommends_spark_als_high_value_cust = pickle.load(read_file)
# with open('../data/processed/bed_bath_table_recommends_spark_als_mid_value_cust.csv', 'rb') as read_file: 
#      bed_bath_table_recommends_spark_als_mid_value_cust = pickle.load(read_file)
with open('../data/processed/bed_bath_table_recommends_spark_als_low_value_cust.csv', 'rb') as read_file: 
     bed_bath_table_recommends_spark_als_low_value_cust = pickle.load(read_file)

In [3]:
pdt_cat_avg_revenue = df.groupby('product_category_name_english')['payment_value'].mean().reset_index(name='avg_revenue')
pdt_cat_avg_revenue

              product_category_name_english  avg_revenue
0   agro_industry_and_commerce              471.15
1   air_conditioning                        301.89
2   art                                     141.52
3   arts_and_craftmanship                   96.92
4   audio                                   158.50
5   auto                                    194.34
6   baby                                    168.66
7   bed_bath_table                          145.47
8   books_general_interest                  114.50
9   books_imported                          108.10
10  books_technical                         91.89
11  cds_dvds_musicals                       85.67
12  christmas_supplies                      122.55
13  cine_photo                              129.10
14  computers                               1268.73
15  computers_accessories                   196.24
16  consoles_games                          164.46
17  construction_tools_construction         254.68
18  construction_tools_lights               232.38
19  construction_tools_safety               330.11
20  cool_stuff                              195.53
21  costruction_tools_garden                171.95
22  costruction_tools_tools                 200.66
23  diapers_and_hygiene                     108.24
24  drinks                                  184.43
25  dvds_blu_ray                            111.76
26  electronics                             91.37
27  fashio_female_clothing                  104.40
28  fashion_bags_accessories                101.30
29  fashion_childrens_clothes               98.21
30  fashion_male_clothing                   119.25
31  fashion_shoes                           117.54
32  fashion_sport                           118.87
33  fashion_underwear_beach                 88.30
34  fixed_telephony                         761.29
35  flowers                                 67.06
36  food                                    88.27
37  food_drink                              94.41
38  furniture_bedroom                       253.27
39  furniture_decor                         163.52
40  furniture_living_room                   257.24
41  furniture_mattress_and_upholstery       146.31
42  garden_tools                            183.16
43  health_beauty                           165.81
44  home_appliances                         120.22
45  home_appliances_2                       462.48
46  home_comfort_2                          55.18
47  home_confort                            177.51
48  home_construction                       215.40
49  housewares                              148.77
50  industry_commerce_and_business          208.98
51  kitchen_dining_laundry_garden_furniture 250.42
52  la_cuisine                              182.10
53  luggage_accessories                     160.92
54  market_place                            136.55
55  music                                   172.54
56  musical_instruments                     324.34
57  office_furniture                        364.66
58  party_supplies                          129.70
59  perfumery                               141.69
60  pet_shop                                153.49
61  security_and_services                   162.25
62  signaling_and_security                  340.74
63  small_appliances                        321.49
64  small_appliances_home_oven_and_coffee   656.79
65  sports_leisure                          155.50
66  stationery                              121.18
67  tablets_printing_image                  115.44
68  telephony                               103.09
69  toys                                    144.82
70  watches_gifts                           230.25

In [10]:
#low
pdt_cat_avg_revenue.loc[pdt_cat_avg_revenue['product_category_name_english'].isin(bed_bath_table_recommends_spark_als_low_value_cust)]

   product_category_name_english  avg_revenue
3   arts_and_craftmanship        96.92
9   books_imported               108.10
18  construction_tools_lights    232.38
32  fashion_sport                118.87
34  fixed_telephony              761.29
38  furniture_bedroom            253.27
44  home_appliances              120.22
46  home_comfort_2               55.18
56  musical_instruments          324.34
63  small_appliances             321.49

In [6]:
#mid
pdt_cat_avg_revenue.loc[pdt_cat_avg_revenue['product_category_name_english'].isin(bed_bath_table_recommends_spark_als_mid_value_cust)]

        product_category_name_english  avg_revenue
3   arts_and_craftmanship             96.92
10  books_technical                   91.89
12  christmas_supplies                122.55
27  fashio_female_clothing            104.40
41  furniture_mattress_and_upholstery 146.31
42  garden_tools                      183.16
46  home_comfort_2                    55.18
55  music                             172.54
56  musical_instruments               324.34
63  small_appliances                  321.49

In [7]:
#high
pdt_cat_avg_revenue.loc[pdt_cat_avg_revenue['product_category_name_english'].isin(bed_bath_table_recommends_spark_als_high_value_cust)]

   product_category_name_english  avg_revenue
0   agro_industry_and_commerce   471.15
16  consoles_games               164.46
19  construction_tools_safety    330.11
28  fashion_bags_accessories     101.30
42  garden_tools                 183.16
45  home_appliances_2            462.48
53  luggage_accessories          160.92
55  music                        172.54
65  sports_leisure               155.50
67  tablets_printing_image       115.44